<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
  {{>header}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                
              <div class="col-md-6 col-12 main_header_right">
                <figure>
                    <img src="images/bg5.png" alt="" id="img" class="img-fluid" title="Sanidhya Kashyap">
                </figure>
              </div>
              <div class="col-md-6 col-12 main_header_left">
                <p>Sanidhya Kashyap</p>
                <h1>I am a <span class="text_clr"> Full Stack</span> Web Developer</h1>
                <a href="https://github.com/sanidhya-kashyap"><button>My Github</button></a>
              </div>

              
            </div>
          </div>
      </div>
    </div>
    
    <!-- footer  -->
    {{>footer}}
</body>
</html>