<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
  {{>header}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                
              <div class="col-md-6 col-12 main_header_right">
                <figure>
                    <img src="images/404.png" alt="" id="img" class="img-fluid" title="Sanidhya Kashyap">
                </figure>
              </div>
              <div class="col-md-6 col-12 main_header_left align-items-center">
              
                <h1><span class="text_clr">404 : PAGE NOT FOUND</span></h1>
                <a href="/"><button class="align-ite">Home</button></a>
              </div>

              
            </div>
          </div>
      </div>
    </div>
    
    <!-- footer  -->
    {{>footer}}
</body>
</html>