<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
  {{>header}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="main_content">
              <form class="temp_form">
                <input type="text" class="input" id="cityname" placeholder="Enter your City" autocomplete="off">
                <input type="submit" value="search" id="submitBtn">
              </form>
            </div>

            <div class="tempInfo">
              <div class="top_layer">
                <p id="day">Thursday</p>
                <p id="date">25 JUNE</p>
              </div>
              <div class="main_layer">
                <p id="city_name">OUTPUT WINDOW</p>
                <div class="middle_layer data_hide" >
                  <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                  <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                </div>
              </div>
            </div>
      </div>
    </div>
    </div>
  
    {{>footer}}
    <script src="js/script.js"></script>
    <script>

      
      const day = document.getElementById("day");

      const getCurrentDay = () => {
        var weekday = new Array(7);
        weekday[0] = "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";

        let currentTime = new Date();
        let days = weekday[currentTime.getDay()];
        let day = document.getElementById("day");
        

        day.innerText = days;
      };

      const date = document.getElementById("date");

      const getCurrentTime = () => {
        let months = [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "June",
          "July",
          "Aug",
          "Sept",
          "Oct",
          "Nov",
          "Dec",
        ];

        let now = new Date();
        let month = months[now.getMonth()];
        let dates = now.getDate();

        let date = document.getElementById("date");
        date.innerText = dates + " " + month;
      };
      getCurrentDay();
      getCurrentTime ();
    </script>
</body>
</html>